a { color: white; 
  padding-bottom:16px;
  margin-bottom: 16px;
}

p {
  font-size: 1vw;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

li{
  font-size: 1.5vw;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

body {
  font-family: "Open Sans", sans-serif; 
  background-image: linear-gradient(to bottom,#fffae1 ,#fff4d2 );
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 4vw;
  letter-spacing: 8px;
  font-weight: 500;
}


h2 {
  font-size: 1.5vw;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

h3 {
  font-size: 1.8vw;
  letter-spacing: 3px;
  font-weight: 700;
  
}
h4 {
  font-size: 2vw;
  letter-spacing: 3px;
  margin:0rem;
  color: white;
  padding:16px;
 
  
} 

h5 {
  font-size: 2vw;
  letter-spacing: 3px;
  font-weight: 700;
  color:#0C171C;
  text-align: left;
}

h6 {
  font-size: 1vw;
  letter-spacing: 3px;
  font-weight: 400;
  color: gray;
}

.navbar{
  padding: 4px; 
  margin-top: 0rem;
}

.navbar a:hover{
  color: #FFB347;
  text-decoration: underline;
}


.lcard {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left:1rem;
  margin-right:1rem;
  padding-top: 3em;
  padding-bottom: 3em ;
  text-align: center;
  border: solid 1px #FFB347;
}

.titlecard {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em ;
  text-align: center;
  background: white;
  border: dashed 3px #FFB347;
}

.outlineIn{
  border: solid 1px #FFB347;
}

.imgcenter{
  margin: auto;
  text-align: center;
  width:90%;
  height: 90%;
  display:block;
}

.banner{
  margin: auto;
  text-align: center;

  max-height: 20%;
    max-width:80%;
  display:block;
}

.imgstyle{
  max-width: 90%;
}

.trailer{
  width: 90%;
  height: 90%;
  margin:auto;
 
}

@media (min-width: 100px) and (max-width: 992px){


  h2 {
    font-size: 2vw;
  }

  h5{
    font-size: 2.5vw;
  }

  .navbar{
    background-color: white;
    color: #0C171C;
    padding-bottom: 1rem; 
    padding-top: 1rem; 
    width: 100%;
    position: sticky;
    padding-left: 2rem;
    padding-right:2rem;
  }

  .carouselObj {
      margin: auto;
      align-items: center;
      padding: 5px;
      background: #FFB347;
  }   

  .aboutme{
      text-align: center;
      margin-top: 3em;
      margin-left: 6rem;
      margin-right: 0rem;
      margin-bottom: 7rem;
      background: white;
      border: solid 1px #FFB347;
      padding: 1rem;
  }
  .lcard {
      margin-top: 5em;
      margin-bottom: 5em;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 3em;
      padding-bottom: 3em ;
      text-align: center;
      border: solid 1px #FFB347;
      background-color: white;
      
  }
  
  .breadAlign{
    margin-left:0rem ;
    background-color: #FFB347;
    
    }
}


@media (min-width: 992px) and (max-width: 1199px){

  .navbar {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: white;
    color: #0C171C;
    font-weight: 500;
    position:-webkit-sticky; 
    position:sticky;
    top:0rem;
    z-index: 1;
} 
  

.carouselObj {
  margin: auto;
  align-items: center;
  padding: 5px;
  background: #FFB347;
}  

.aboutme{
    text-align: block;
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right:-2rem;
    margin-bottom: 8rem;
    padding: 20px;
    background: white;
    border: solid 1px #FFB347;
}



  .lcard {
      margin-top: -15rem;
      margin-bottom: 100px;
      margin-left: 1rem;
      margin-right: 1rem;
      background: rgb(175, 136, 136);
      
  }
  
  .breadAlign{
    margin-left: 0rem;
    background-color: #FFB347;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: white;
    color: #0C171C;
    font-weight: 500;
    position:-webkit-sticky; 
    position:sticky;
    top:0rem;
    z-index: 1;
} 

.carouselObj {
  margin: auto;
  align-items: center;
  padding: 5px;
  background: #FFB347;
}  

.aboutme{
    text-align: block;
    margin-top: 4rem;
    margin-left: 7rem;
    margin-right:-2rem;
    margin-bottom: 8rem;
    padding: 20px;
    background: white;
    border: solid 1px #FFB347;
}


  
  .lcard {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem ;
      background-color: white;
  }
  
  .breadAlign{
    margin-left:0rem;
    background-color: #FFB347;
    position:sticky-top;
   
  }
}

@media (min-width: 1400px)and (max-width: 1999px){
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: white;
    color: #0C171C;
    font-weight: 500;
    position:-webkit-sticky; 
    position:sticky;
    top:0rem;
    z-index: 1;
} 

.carouselObj {
  margin: auto;
  align-items: center;
  padding: 5px;
  background: #FFB347;
}  

.aboutme{
  text-align: center;
  margin-top: 7rem;
  margin-left: 10rem;
  margin-bottom: 12rem;
  padding: 1.5rem;
  background: white;
  border: solid 1px #FFB347;
}

 
  .align{
    margin-top: -800px;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-left: 250px;
}   
  
.lcard {
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2em;
  padding-bottom: 2em ;
  background-color: white;
}

.breadAlign{
margin-left: 0rem;
background-color: #FFB347;
}

h1{
  font-size: 3vw;
}

h2,h3 {
  font-size: 1vw;
}

h4{
  font-size: 1.5vw;
}

h5{
  font-size: 1.2vw;
}


}

@media (min-width: 2000px){

  h1{
    font-size: 3vw;
  }

  h2,h3 {
    font-size: 1vw;
  }

  h4{
    font-size: 1.5vw;
  }

  h5{
    font-size: 1.2vw;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: white;
    color: #0C171C;
    font-weight: 500;
    position:-webkit-sticky; 
    position:sticky;
    top:0rem;
    z-index: 1;
} 

  .carouselObj {
    margin:auto;
    padding: 10px;
    background: #FFB347;
}   

.aboutme{
    text-align: block;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-bottom: 8rem;
    padding: 2rem;
    background: white;
    border: solid 1px #FFB347;
}


  
  .lcard {
      margin-top: 4rem;
      margin-bottom: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 2em;
      padding-bottom: 2em ;
      background-color: white;
  }
  
  .breadAlign{
    margin-left: 0rem;
    background-color: #FFB347;
  }
}


.lcard {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 2rem;
  
  background: white;

}

footer h3{
  color: #E3F0F2;
}

.site-footer {
  background-color: #0C171C ;
  padding: 16px ;
  
}

